* {
	box-sizing: border-box;
}

body, html {
	background-color: indigo;
	margin: 0;
	height: 100%;
	overflow: hidden;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#arena-line {
	height: 500px;
	width: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid black;
	border-radius: 100%;
}

#movable-entity-container {
	position: relative;
	transform: translate(-50%, -50%);
}

.movable-entity, .entity {
	position: absolute;
	background-image: url(assets/dirt.png);
}

#score {
	position: absolute;
	margin-top: 180px;
	font-size: 2em;
	color: gold;
	width: 90px;
	height: 60px;	
}

#current-level {
	font-size: 2em;
	color: gold;
	width: 90px;
	height: 60px;	
}